<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="/css/scan.css">

    <title>Document</title>
</head>
<body>
    <div id="camera"></div>
    <div class="output">
        <label for="">ORDER ID </label>
        <input disabled type="text" name="" id="orderId">
        <label for="">PAYMENT ID</label>
        <input disabled type="text" name="" id="paymentId">
        <label for="">NAME</label>
        <input disabled type="text" name="" id="name">
        <label for="">COLLEGE ID</label>
        <input disabled type="text" name="" id="colId">
        <label for="">AMOUNT PAID</label>
        <input disabled type="text" name="" id="amount">
        <label for="">DESTINATION</label>
        <input disabled type="text" name="" id="destination">
        <label for="">TYPE</label>
        <input disabled type="text" name="" id="way">
    </div>
 

        <script src="https://cdn.jsdelivr.net/npm/quagga"></script>
        <script src="/javascript/scan.js"></script>
</body>
</html>